# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.xml
*.txt
*.json
error_log
core/init.php
forum/**
sql_backups/**
uploads/**
atc_solo/**
datafiles/
test.php
login/config.php
forum/config.php
mail/mail.php
libs/
statistics/datafile.txt
statistics/.htaccess
statistics/server_log.txt
statistics/dbpw.php
training/uploads
statistics/
img/
pilots/tracks.phpblackswanbroken

